




.emscripten { padding-right: 0; margin-left: auto; margin-right: auto; display: block; }
textarea.emscripten { font-family: monospace; width: 80%; }
div.emscripten { text-align: center; }
div.emscripten_border { border: 1px solid black; }
/* the canvas *must not* have any border or padding, or mouse coords will be wrong */
canvas.emscripten { border: 0px none; background-color: black; }

.spinner {
	height: 50px;
	width: 50px;
	margin: 0px auto;
	-webkit-animation: rotation .8s linear infinite;
	-moz-animation: rotation .8s linear infinite;
	-o-animation: rotation .8s linear infinite;
	animation: rotation 0.8s linear infinite;
	border-left: 10px solid rgb(0,150,240);
	border-right: 10px solid rgb(0,150,240);
	border-bottom: 10px solid rgb(0,150,240);
	border-top: 10px solid rgb(100,0,200);
	border-radius: 100%;
	background-color: rgb(200,100,250);
}
@-webkit-keyframes rotation {
	from {-webkit-transform: rotate(0deg);}
	to {-webkit-transform: rotate(360deg);}
}
@-moz-keyframes rotation {
	from {-moz-transform: rotate(0deg);}
	to {-moz-transform: rotate(360deg);}
}
@-o-keyframes rotation {
	from {-o-transform: rotate(0deg);}
	to {-o-transform: rotate(360deg);}
}
@keyframes rotation {
	from {transform: rotate(0deg);}
	to {transform: rotate(360deg);}
}

*{
	font-size : inherit;
}

canvas {
	width:100%;
	height: 100%;
	image-rendering: pixelated;
	max-width: 100%;
	max-height: 100%;
}

#canvas {
	display:block;
	width : 50%;
}

.item{
	width:fit-content;
	height:fit-content;
}

div.h-flow{
	display: flex;
	flex-flow: row wrap;
	> * {
		flex: 1;
		width: fit-content;
		height:100%;
		border-left: 0.1rem solid black;
		padding-left: 1rem;
		padding-right: 1rem;
	}	
	:first-child {
		border-left: none;
	}
	/*
	:last-child{
	}
	*/
}

div.v-flow{
	display: flex;
	flex-flow: column wrap;
	> * {
		flex: 1;
		border-top: 0.1rem solid black;
		padding-top: 1rem;
		padding-bottom: 1rem;
	}
	:first-child {
		border-top: none;
	}
	/*
	:last-child{
	}
	*/
}

.param-container{
	display:grid;
	grid-template-columns: max-content max-content;
	grid-auto-rows: auto;
	
	.param-control{
		grid-column-start: 1;
		grid-column-end: 3;
		display: grid;
		grid-template-columns: subgrid;
		
		border: 1px solid #FFFFFF;
	}
	
	.param-control:hover{
		border: 1px solid black;
	}

	.param-control-label{
		grid-column-start: 1;
		padding-right:1em;
	}

	.param-control-input{
		grid-column-start: 2;
		margin-left:auto;
	}
	.param-integer,.param-real,.param-real\(0\,1\){
		width: 5rem;
	}
}

.has-tooltip {
	position:relative;
}

.has-validator[validated]{
	background-color: #EEFFEE;
	
	.validator-tip{
		display:none;
		position:absolute;
		z-index:2;
	}
}

.has-validator[validated=false]{
	background-color: #FFEEEE;
	
	.validator-tip{
		display:inline-block;
		background-color: #FFEEEE;
		top:-2.2rem;
		margin: 0.5em;
		padding: 0.2em;
		border: solid 1px black;
		left: 100%;
		width: 30em;
	}
}

.has-tooltip {
	position:relative;
}

.tooltip{
	display:none;
	position:absolute;
	z-index:1;
}

.has-tooltip:hover .tooltip{
	display:inline-block;
	background-color: #FFFFFF;
	margin: 0.5em;
	padding: 0.2em;
	border: solid 1px black;
	left: 100%;
	width: 30em;
}

div.canvas-container{
	width:100%;
}

.button-like {
	background: #DDDDDD;
	padding: 0.2rem;
	border: 0.2rem solid black;
}

.button-like:hover {
	background: #EEEEEE;
}
